ion-list
{
    margin-top: 18vh;
    ion-list-header
    {
        font-weight: bold;
        font-size: 1.0em;
    }
    ion-item
    {
        border-radius: 20px;
        box-shadow: 0 6px 4px -4px;
    }
}