<ion-header>
  <ion-toolbar>
    <ion-title>Réinitialisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list class="ion-margin">
        <ion-list-header>
        <ion-label>Modifier votre mot de passe</ion-label>
        </ion-list-header>
        <ion-item class="ion-margin">
            <ion-input type="password" placeholder="Ancien mot de passe..." clearInput="true"></ion-input>
        </ion-item>
        <ion-item class="ion-margin">
            <ion-input type="password" placeholder="Nouveau mot de passe..." clearInput="true"></ion-input>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-input type="password" placeholder="Confirmer le mot de passe..." clearInput="true"></ion-input>
        </ion-item>
        <ion-button strong="true" expand="block" shape="round">Valider</ion-button>
    </ion-list>
  </form>
</ion-content>
