<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Mot de pass oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list class="ion-margin">
        <ion-list-header>
        <ion-label>Changement de mot de passe</ion-label>
        </ion-list-header>
        <ion-item class="ion-margin">
            <ion-input type="email" placeholder="Entrez votre e-mail..." clearInput="true"></ion-input>
        </ion-item>
        <ion-button strong="true" expand="block" shape="round">Envoyer</ion-button>
    </ion-list>
  </form>
</ion-content>
