ion-list
{
    margin-top: 20vh;
    ion-list-header
    {
        ion-label
        {
            font-weight: bold;
            font-size: 1.0em;
        }
    }
    ion-item
    {
        border-radius: 20px;
        box-shadow: 0 6px 4px -4px;
    }
}